@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7fbb3b;
  --color-secondary: #773bbb;
  --color-accent: #d5475b;
  --color-background: #121212;
  --color-background2: #000000; /* For navbar and footer */
  --color-foreground: #ffffff;
}

body {
  @apply bg-background text-foreground;
  @apply font-sans;
}

.link {
  @apply hover:underline hover:text-secondary;
}

.float {
  @apply transition duration-300 ease-in-out transform hover:-translate-y-[0.25rem];
}
